:root {
  --heading-font-family: "Roboto Mono", monospace;
  --default-font-family: system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  --primary-color: #0a1930;
  --secondary-color: #64ffda;
  --tertiary-color: #ccd7f5;
  --default-color: #8892b0;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  background-color: var(--primary-color);
  color: var(--default-color);
  font-family: var(--default-font-family);
}

h1,
h2,
h3 {
  margin: 0;
  line-height: 1.1;
}

.hero {
  margin: 40px 60px;
}

.hero h1 {
  font-weight: 600;
}

.name-big {
  color: var(--tertiary-color);
}

.nav-link {
  color: var(--default-color);
  font-family: var(--heading-font-family);
  font-size: 12px;
}

.nav-link:hover {
  color: var(--secondary-color);
}

.nav-link:active {
  color: var(--secondary-color);
}

.nav-number {
  color: var(--secondary-color);
}

h1 {
  font-size: 80px;
  color: #8892b0;
}

h2 {
  font-size: 48px;
}

.hero h3 {
  font-size: 24px;
  color: var(--secondary-color);
  font-family: var(--heading-font-family);
}

p {
  font-size: 18px;
  line-height: 1.5;
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.secondary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

/* tablet users */
@media (max-width: 767px) {
  .container {
    max-width: 90%;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 24px;
  }

  p {
    font-size: 16px;
  }

  a {
    font-size: 18px;
  }
}

/* mobile users */
