:root {
  --heading-font-family: "SF Mono", "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --default-font-family: "Inter";
  --primary-color: #64ffda;
  --secondary-color: #ccd7f5;
  --tertiary-color: #a8b2d1;
  --accent-color: #112240;
  --default-color: #8892b0;
  --background-color: #0a192e;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

body {
  width: 100%;
  background-color: var(--background-color);
  font-family: var(--default-font-family);
  color: var(--default-color);
}

h1,
h2,
h3 {
  margin: 0;
  line-height: 1.2;
}

h1 {
  font-size: 70px;
  font-weight: 700;
}

h2 {
  font-size: 32px;
  font-weight: 600;
  color: var(--secondary-color);
}

h3 {
  font-size: 24px;
  font-weight: 400;
  color: var(--tertiary-color);
}

h4 {
  font-size: 16px;
  font-family: var(--heading-font-family);
  color: var(--primary-color);
  font-weight: 400;
}

p {
  font-size: 16px;
  color: var(--tertiary-color);
}

ul {
  list-style-type: none;
}
li {
  margin-left: 0px;
  padding-left: 0px;
}

a {
  text-decoration: none;
  font-size: 12px;
}
.hero {
  padding: 160px 20px;
}

.hero h2 {
  width: 550px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--default-color);
}

.name {
  color: var(--secondary-color);
}

.hero h3 {
  font-size: 16px;
}

.nav-number {
  color: var(--primary-color);
  font-family: var(--heading-font-family);
  font-weight: 400;
}

.project-links {
  display: flex;
  justify-content: none;
  gap: 12px;
  margin-left: -35px;
  margin-top: 30px;
  font-size: 18px;
}

.project-links a {
  border-radius: 40px;
  padding: 10px 20px;
  color: white;
  transition: all 300ms ease-in;
  background-color: var(--accent-color);
  border: 1px solid var(--primary-color);
}
.project-links li:hover {
  -webkit-transform: scale(1.075);
  transform: scale(1.075);
  filter: hue-rotate(300deg);
}
.project-tech-list {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  margin-left: -40px;
}

.project-tech-list li {
  padding: 5px 5px;
}

.projects-section {
  padding-bottom: 40px;
}
.content-container {
  padding: 160px 20px;
}

.content-container img {
  width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 4px;
  border: 2px solid var(--primary-color);
}

.content {
  margin: 30px;
}

.content h3 {
  color: var(--secondary-color);
  font-weight: 600;
}
/* nav section */
.nav {
  background-color: var(--background-color);
  color: var(--default-color);
  font-family: var(--heading-font-family);
  font-style: normal;
  font-weight: 400;
  padding: 15px 0;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: flex;
  justify-content: end;
  font-size: 13px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 25px 10px 13px 13px;
  text-decoration: none;
  color: var(--secondary-color);
  transition: all 100ms ease-in-out;
}

.nav > .nav-links > a:hover,
.nav a.active {
  color: var(--primary-color);
}

.nav > #nav-check {
  display: none;
}

/* footer section */
footer {
  display: flex;
  justify-content: space-evenly;
}

footer a {
  color: var(--primary-color);
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
  color: var(--primary-color);
}
.button a {
  padding: 21px 29px;
  border-radius: 4px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  font-family: var(--heading-font-family);
  text-decoration: none;
  cursor: pointer;
}
.button a:hover {
  text-decoration: none;
  transition: var(--transition);
  width: 100%;
  height: 100%;
  box-shadow: 0 0.5em 0.5em -0.4em var(--primary-color);
  transform: translateY(-0.25em);
  box-shadow: 0.3em 0.3em 0 0 var(--primary-color),
    inset 0.3em 0.3em 0 0 var(--primary-color);
}

.footer-name p {
  padding-top: 70px;
  font-family: var(--heading-font-family);
  font-size: 12px;
}
* {
  box-sizing: border-box;
}
/* tablet users */
@media (max-width: 767px) {
  .container {
    max-width: 90%;
  }

  .hero {
    padding: 220px 0px 150px 10px;
  }

  .hero h2 {
    font-size: 18px;
    max-width: 95%;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 14px;
  }

  p {
    font-size: 16px;
  }

  a {
    font-size: 12px;
  }

  .hero h2 {
    line-height: 1.5;
    width: 450px;
    font-size: 18px;
  }

  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 10px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid var(--primary-color);
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: var(--background-color);
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 70px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }

  .footer-name p {
    font-size: 12px;
  }
}

/* mobile users */
@media (max-width: 500px) {
  .hero {
    height: fit-content;
  }
}
